<?xml version="1.0"?>
<configuration>


  <!--NOTE! NOTE! NOTE! This entry sets -->
  <!--Restrict the maximum memory to 20% of the total physical memory. This can be done in the web.config or in code in the service.-->
  <!--============================================================================================================================-->
  <system.runtime.caching>
    <memoryCache>
      <namedCaches>
        <add name="Default" physicalMemoryLimitPercentage="20"/>
      </namedCaches>
    </memoryCache>
  </system.runtime.caching>
  <!--============================================================================================================================-->
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <!--============================================================================================================================-->
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <!--============================================================================================================================-->
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="mexServiceBehavior" name="PizzaService.PizzaService">
        <endpoint address="" binding="wsHttpBinding" bindingConfiguration=""
          contract="PizzaService.IPizzaService" />
        <host>
          <baseAddresses>
            <add baseAddress="http://10.0.0.3/PizzaServiceHost.PizzaServicee.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexServiceBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <!--============================================================================================================================-->

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>
</configuration>
