<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<connectionStrings configSource="connectionStrings.config" />-->
  <!--<appSettings configSource="appSettings.config" />-->
  <!--<system.web>
    <compilation debug="true" />
  </system.web>-->
  <!--<system.serviceModel>
    <services>
      <service name="ESoft.EServices.Library.EmployeeService">
        <endpoint address="" binding="basicHttpBinding" contract="ESoft.EServices.Library.IEmployee">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://10.0.0.3/ESoft.EServices/Employee.svc" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="True" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true" httpsHelpPageUrl="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>-->

</configuration>