<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IUserInformationService" />
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8080/UserInformationService"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IUserInformationService"
                contract="IUserInformationService" name="WSHttpBinding_IUserInformationService">
                <identity>
                    <userPrincipalName value="XPS\ENordin" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>