<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <services>
      <service name="CalculatorService.CalculatorService" behaviorConfiguration="CalculatorServiceBehavior">
        <endpoint address="CalculatorService" binding="wsHttpBinding" contract="CalculatorService.ICalculatorService">
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://10.0.0.3:8080/" />
          </baseAddresses>
        </host>
      </service>
    </services>
    
    <!--By addind includeExceptionDetailInFaults = true we can now see the details of the SOAP fault the is propogated to the client-->
    <!--By default exception details are not serialized to the client for security perposes -->
    <!--Remember that basicHttp binding does not hold a session so if the service channel faults you can still use it-->
    <!--Handeling SOAP faults using wsHttpBinding requires additional configuration and exception handling and the service level.-->
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="CalculatorServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <wsHttpBinding >
        <binding>
          <security mode="None" ></security>
        </binding>
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>