@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Go Postal Services</h1>
    <p class="lead"></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Zip Code Service</h2>
        <p><a class="btn btn-default" href="">Zip Code Service</a></p>
    </div>
    <div class="col-md-4">
        <h2>State Code Service</h2>
        <p>
            @Html.ActionLink("State Code Service", "Index","PostalState", new { primaryOnly = true }, new { @class = "btn btn-default" })
        </p>
    </div>
</div>