<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IHelloSimpleService">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://eric-pc/TestSSL/HelloSimpleService.svc"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IHelloSimpleService"
                contract="HelloSimpleServiceClient.IHelloSimpleService" name="WSHttpBinding_IHelloSimpleService" />
                    <!--Create self signed cert in IIS at the ROOT level-->
                    <!--Add a HTTPS binding using Eric-PC Cert at web site level in IIS (Default web site)-->
                    <!--The at service level configure SSL Setting to Require and Accept -->
                    <!--NOTE NOTE NOTE Before you set require SSL you must create the service reference-->
                    <!--NOTE NOTE NOTE You will be asked to provide Windows User Name and Password to create the service ref-->
                    <!--NOTE NOTE NOTE Once the ref is created you turn SSL required in IIS back on-->
    
        </client>
    </system.serviceModel>
</configuration>