<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="RequestUserName">
          <security mode="Message">
            <message clientCredentialType="UserName" />
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="customAuthBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceCredentials>
            <serviceCertificate findValue="Eric-PC" storeName="TrustedPeople"
              x509FindType="FindBySubjectName" />
            <userNameAuthentication userNamePasswordValidationMode="Custom"
              customUserNamePasswordValidatorType="ToothPickService.CustomValidator,ToothPickService" />
            <clientCertificate>
              <authentication certificateValidationMode="None" />
            </clientCertificate>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="customAuthBehavior" name="ToothPickService.ToothPickService">
        <endpoint address="ToothPickService" binding="wsHttpBinding"
          bindingConfiguration="RequestUserName" name="ServiceEndPoint"
          contract="ToothPickService.IToothPickService" />
        <endpoint address="mex" binding="mexHttpBinding" name="mexEndPoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8001" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>