<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost/GeoService"
                binding="wsHttpBinding"
                contract="GeoLib.Contracts.IGeoService" />
      <endpoint address="http://localhost/GeoServiceAdmin"
                binding="wsHttpBinding"
                contract="GeoLib.Contracts.IGeoAdminService"
                bindingConfiguration="admin"
                behaviorConfiguration="admin">
        <identity>
          <!--<dns value="ServicesWorkshop"/>-->
          <certificate encodedValue=
"MIIBuzCCAWWgAwIBAgIQFXz9Lf7lRotLiFMcefiYdzANBgkqhkiG9w0BAQQFADAW
MRQwEgYDVQQDEwtSb290IEFnZW5jeTAeFw0xNTAyMDYwNDM0MTZaFw0zOTEyMzEy
MzU5NTlaMBYxFDASBgNVBAMTC1djZkVuZHRvRW5kMIGfMA0GCSqGSIb3DQEBAQUA
A4GNADCBiQKBgQDIhGN8cwjOV4igMe2hR1wa/uJzOg/ixL92GLoi7YoLAF67aZvI
YEp0wqW41t1zSJoyxwofzYczmueYL+KCjmtIOLbneh2IwnZtPAXRhLDhSiQoQ55p
i4fHIaRw6unroB/BfamXweRVOOf2aZhr0rKVH/AqXRWovzkKR/iWdixB/wIDAQAB
o0swSTBHBgNVHQEEQDA+gBAS5AktBh0dTwCNYSHcFmRjoRgwFjEUMBIGA1UEAxML
Um9vdCBBZ2VuY3mCEAY3bACqAGSKEc+41KpcNfQwDQYJKoZIhvcNAQEEBQADQQA5
En9H1eliLH3UEiaUmR/2kvyGNGiG9g1rsfu/SDFfhgremsW2X4J7J6/JkshD0OSe
bJqex8hInoS0S/87F4hO"/>
        </identity>
      </endpoint>
    </client>
    <bindings>
      <wsHttpBinding>
        <binding transactionFlow="true" sendTimeout="00:20:00">
          <security mode="None" />
        </binding>
        <binding name="admin" transactionFlow="true" sendTimeout="00:20:00">
          <security mode="Message">
            <message clientCredentialType="UserName" 
                     negotiateServiceCredential="false"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <endpointBehaviors>
        <behavior name="admin">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="ChainTrust"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  
</configuration>
