<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost/GeoService"
                binding="wsHttpBinding"
                contract="GeoLib.Contracts.IGeoService" />
      <endpoint address="http://localhost/GeoServiceAdmin"
                binding="wsHttpBinding"
                contract="GeoLib.Contracts.IGeoAdminService"
                bindingConfiguration="admin"
                behaviorConfiguration="admin">
      </endpoint>
    </client>
    <bindings>
      <wsHttpBinding>
        <binding transactionFlow="true" sendTimeout="00:20:00" />
        <binding name="admin" transactionFlow="true" sendTimeout="00:20:00" />
      </wsHttpBinding>
    </bindings>
  </system.serviceModel>
  
</configuration>
