<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="ServiceEndPoint">
                    <security>
                        <message clientCredentialType="UserName" />
                    </security>
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8001/ToothPickService" binding="wsHttpBinding"
                bindingConfiguration="ServiceEndPoint" contract="ToothPickService.IToothPickService"
                name="ServiceEndPoint">
                <identity>
                    <certificate encodedValue="MIICrDCCAZSgAwIBAgIQFY3evTA4CoFLHV4QQ40RLzANBgkqhkiG9w0BAQUFADAS
                                              MRAwDgYDVQQDEwdFcmljLVBDMB4XDTE3MTEwODA3MDAwMFoXDTI3MTExNTA3MDAw
                                              MFowEjEQMA4GA1UEAxMHRXJpYy1QQzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCC
                                              AQoCggEBAMma41Of76o2LuWXzRDMi5li2So5lm6l1uS0+eJJwS9u1R0pNlsrSUvH
                                              H1VoItjEUJsfLOrRewiqR2MTEMQsBzfYBICvcWBQBRDclnd7lFnZrlFIARdTgqrp
                                              +N7EX0aSJV9wc6a2XZZIKyvqSyIQJXRDrTqG5gk2oBlSGXl2a74e57gB1uZDb3Jo
                                              SGGloscTgzAd2PZCzjPw1Nl0Br5q6d/faIpT9cCfnOPibwmTO4zv51T5Nhrr5+Ra
                                              YDRVE42x+rlfcvuYLE9Aqf4jvqIVv8e0fnwSWm5oxB8dpRUNHG0Qcr6RMF7zr4Kr
                                              rmPPsgLjYQm2E93anKlOXZEMbUKjj/UCAwEAATANBgkqhkiG9w0BAQUFAAOCAQEA
                                              s2hrJ4PIZbVOqSkJAz72Vza2p6wOgh3tvFZR4kpYZ5aQV64xQxDlxeId+FbrQQmW
                                              GvqfAFHYMWsU1dFwBfg0zmq946+TnAA3I4kJXNe5TSmDzEWb785YiE7qnEBFsWvG
                                              peODMcpT3qxelc9tDHKbH+2SIZ2KNLuuynjc05MKIRWd25anQOQZ/ddEWpgoMBeB
                                              l7TTR5cmFHHxpqC7U57GyaC991yARsFjio6XGgEsLz1NzvzIH4ben59wO9sA5uN8
                                              0MTOgOwusRCaIGFeNxjfyEMnuW0xFZQLjMZB0+85Exsg8hFfUzMMqTVmexsCf1yD
                                              3aklLLnkJq5MwnBH7ezdQg==" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>