<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Off,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelTraceListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
        <listeners>
          <add type="System.Diagnostics.DefaultTraceListener" name="Default">
            <filter type="" />
          </add>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="E:\GitProjectJockey\WCF\NALocationClients\NALS.GeoLibrary.Client\App_tracelog.svclog"
          type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          name="ServiceModelTraceListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
      <add initializeData="E:\GitProjectJockey\WCF\NALocationClients\NALS.GeoLibrary.Client\App_messages.svclog"
          type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
          name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
    <trace autoflush="false" />
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>

  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="false" logMalformedMessages="false"
        logMessagesAtServiceLevel="false" logMessagesAtTransportLevel="false" />
    </diagnostics>

    <behaviors>
      <endpointBehaviors>
        <behavior name="GeoAdminService.Behavior.CertificateMode.ChainTrust">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="ChainTrust"/>
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <bindings>
      <wsHttpBinding>
        <binding name="GeoAdminService.Binding.SecurityMode.Message.Certificate" transactionFlow="true"  maxReceivedMessageSize="2097152" sendTimeout="00:20:00">
          <readerQuotas maxDepth="32"
                        maxStringContentLength="2147483647"
                        maxArrayLength="50000"
                        maxBytesPerRead="4096"
                        maxNameTableCharCount="16384" />
          <security mode="Message">
            <message clientCredentialType="UserName" negotiateServiceCredential="false" />
          </security>
          <reliableSession enabled="true" />
        </binding>

        <binding name="GeoService.Binding.SecurityMode.Message"  maxReceivedMessageSize="2097152" sendTimeout="00:20:00">
          <readerQuotas maxDepth="32"
                        maxStringContentLength="2147483647"
                        maxArrayLength="50000"
                        maxBytesPerRead="4096"
                        maxNameTableCharCount="16384" />
          <security mode="Message"/>

        </binding>
      </wsHttpBinding>
    </bindings>

    <client>
      <endpoint name="GeoAdminService"
                address="http://localhost/NALocationServices/GeoAdminService.svc"
                binding="wsHttpBinding"
                bindingConfiguration="GeoAdminService.Binding.SecurityMode.Message.Certificate"
                behaviorConfiguration ="GeoAdminService.Behavior.CertificateMode.ChainTrust"
                contract="NALS.GeoLibrary.Contracts.IGeoAdminService">
        <identity>
          <certificate encodedValue="MIICrDCCAZSgAwIBAgIQJoSDvitMhrxHYXPoEIGK2zANBgkqhkiG9w0BAQUFADAS
                                    MRAwDgYDVQQDEwdFcmljLVBDMB4XDTE3MTIwNDA3MDAwMFoXDTI3MTIxMTA3MDAw
                                    MFowEjEQMA4GA1UEAxMHRXJpYy1QQzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCC
                                    AQoCggEBAMS9hIcVjRTindqhn4VAVsevPPYcHN+sFPKaExA/qUsW9SPR7lFsHWPX
                                    iVmqNlCIk9JR/D7G5op8ym2XdmoRedgXXwo17uH0tIO176Jem8EuMoWi164ZKOIa
                                    rcf7njW6Zf4QaeV0oUyjaBI213BqnzGQUkyCLbkhMcWpanJ2Ka39r+E8WV4We8SI
                                    K4dG5j9UwnK9tsYKVFamV/xo3Sm/zYniltGWTQkMvULKAprN2ZLJYyO06V+i6T9d
                                    k6q803sIxHkbkmaAzznjUALySpyB5NFv6GFLhQJrW8yYSC6MObMxojRgMCHLB9K9
                                    sL06e2J5thHqQDyTw1THKAR3rvoGROkCAwEAATANBgkqhkiG9w0BAQUFAAOCAQEA
                                    f3Q8IdZyPCVPgEERxSrCtKmjE9AlHePgZ4djHSGJX+laI4YdWqWSEryWs1Cq+q+k
                                    q8udHAVXa4RgaYxhQmIxhq9B9yf7qHDtoqytRsLkoEk6c9vX2HMxkRxQfELmjhLJ
                                    yEz2RMvbKUS2WWQMofyw9qfLgmp0q13UaucnehzrDyrMtMVzo5er7jTeUFf5YdDd
                                    rMU82uF7f5T04rfH1ZseTZgV+6+98amCqgCZs8MaUSEdAwJT06xIqH0RO845SjKQ
                                    yjuX1XmQCdHjHsTl5ttvzIViYfMIYXSLp3DR4GpYW1ipj4ZM3syZZtN1LA+qZdhb
                                    VBWCOJdh74CnC9AZK8a/Jg==" />
        </identity>
      </endpoint>

      <endpoint name="GeoService"
                address="http://localhost/NALocationServices/GeoService.svc"
                binding="wsHttpBinding"
                bindingConfiguration="GeoService.Binding.SecurityMode.Message"
                contract="NALS.GeoLibrary.Contracts.IGeoService">
      </endpoint>
    </client>
  </system.serviceModel>

</configuration>