<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:8009/GeoService"
                binding="netTcpBinding"
                contract="GeoLib.Contracts.IGeoService" />
      <endpoint address="net.tcp://localhost:8009/GeoServiceAdmin"
                binding="netTcpBinding"
                contract="GeoLib.Contracts.IGeoAdminService" 
                bindingConfiguration="admin" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding transactionFlow="true" sendTimeout="00:20:00" />
        <binding name="admin" transactionFlow="true" sendTimeout="00:20:00" />
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
  
</configuration>
