<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="wsHttpTransactionBinding" transactionFlow="true" />
      </wsHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <services>
      <service behaviorConfiguration="mexBehavior" name="InsertDataService1.InsertDataService1">
        <endpoint address="InsertDataService" binding="wsHttpBinding"
            bindingConfiguration="wsHttpTransactionBinding" contract="InsertDataService1.IInsertDataService1" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
            name="mexEndPoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8080" />
          </baseAddresses>
        </host>
      </service>
      <service name="InsertDataService2.InsertDataService2"  behaviorConfiguration="mexBehavior">
        <endpoint address="InsertDataService2" binding="wsHttpBinding"
            bindingConfiguration="wsHttpTransactionBinding" contract="InsertDataService2.IInsertDataService2" />
        <endpoint address="mex" binding="mexHttpBinding" bindingConfiguration=""
           name="mexEndPoint" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8081" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>
</configuration>